.nav-ui li {
   display: inline-block;
  
}
.normalBtn{
  background-color:#61dafb;
}
.btn-primary{
  background-color:#61dafb;
}
.nav-ui li a{
    
    color: red;
    text-decoration: none;
    padding: 20px;

}
.inputBox{
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}
.nav-ui {
  padding: 30px;
  margin: 0;
  background-color: steelblue;
  display: flex;
}
.register, .product{
  margin-left: 30%;
}
.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
.footer{
  background-color: steelblue;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: red;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a4d94;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
